<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wonsulting 2020!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/healthy.ico"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">Abraca Data</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('whyN') }}">Why Nutrition?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('About') }}">About Our Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('Questions') }}">Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}#ourteam">Our Team</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Credits<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <h1><center>Credits</center></h1><br />
      <h3><center>All credits go towards the following images and resources as support for our website:</center></h3><br /><br />
      <div class= 'container'>

        U.S. Department of Agriculture. “FoodData Central Download Data.” FoodData Central, Apr. 2020, fdc.nal.usda.gov/download-datasets.html.<br /><br />

        “CDC FastStats - Leading Causes of Death.” Centers for Disease Control and Prevention, U.S. Department of Health & Human Services, 6 Feb. 2020, www.cdc.gov/nchs/fastats/leading-causes-of-death.htm.<br /><br />

        “CDC Prevention Programs.” American Heart Association, 18 May 2018, www.heart.org/en/get-involved/advocate/federal-priorities/cdc-prevention-programs.<br /><br />

        “Eat More Protein.” Eat More Protein Vector Art & Graphics, FreeVector, 2020, www.freevector.com/eat-more-protein-30931.<br /><br />
        
        “Fruit Composition.” Fruit Composition Vector Art & Graphics, FreeVector, 2020, www.freevector.com/fruit-composition.<br /><br />
        
        Health Canada. “Canada's Food Guide Plate.” Chatelaine, 2019, www.chatelaine.com/health/canadas-new-food-guide/.<br /><br />
        
        “Healthy Food Set.” Healthy Food Set Vector Art & Graphics, FreeVector, 2020, www.freevector.com/healthy-food-set-30915.<br /><br />
        
        Lark, Brooke. “Black and Red Cherries on White Bowl Photo.” Unsplash, 9 May 2017, unsplash.com/photos/nTZOILVZuOg.<br /><br />
        
        Mayer, Jean. “Calculating Calories and Nutrients in Meals.” USDA Human Nutrition Research Center on Aging, Tufts University, 2020, hnrca.tufts.edu/flipbook/resources/restaurant-meal-calculator/.<br /><br />
        
        Medvedeva, Mariana. “Person Holding Brown Grains Photo.” UnSplash, 16 Sept. 2017, unsplash.com/photos/usfIE5Yc7PY.<br /><br />
        
        “Nuts Collection.” Nuts Collection Vector Art & Graphics, FreeVector, 2020, www.freevector.com/hand-drawn-nuts-collection-vector-26077.<br /><br />
        
        “Whole Grains Set.” Whole Grains Set Vector Art & Graphics, FreeVector, 2020, www.freevector.com/whole-grains-set-30919.<br /><br />

        “Fruits And Vegetables Vector Vector Art Graphics.” FreeVector.com, www.freevector.com/fruits-and-vegetables-vector.<br /><br />

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
