<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('home') }}">Know Your Nutrition</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="collapsibleNavId"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('whyN') }}">Why Nutrition?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('About') }}">About Our Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Questions') }}">Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ourteam">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('credits') }}">Credits</a>
      </li>
    </ul>
  </div>
</nav>
