<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Know Your Nutrition!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('home') }}">Know Your Nutrition</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('whyN') }}">Why Nutrition?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('About') }}"
              >About Our Project</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Questions<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}#ourteam"
              >Our Team</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('credits') }}">Credits</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1><center>Questions</center></h1>
    <br /><br />
    <div class="container">
      <ol>
        <li>
          What is the value of nutriton and why is it important to know,
          especially in the U.S.?
        </li>
        Please see the section, "Why Nutrition?" on this website for your
        reference. More details are mentioned there.<br /><br />
        <li>
          Why did your team decide to showcase the information on a website
          versus other platforms?
        </li>
        We realized that the vast amount of information found from the original
        food dataset would not be suitable to view on mobile devices. Hence, we
        chose to build a website to make it easy to read and understand for our
        audience. This helps to improve visibility and navigation for our
        audience as they interact with our website.<br /><br />
        <li>Where did you get the data and when?</li>
        We retrieved the food datasets from the U.S. Department of Agriculture
        research services page here
        (https://fdc.nal.usda.gov/download-datasets.html). We used the most
        recent dataset available, which was updated in April 2020.<br /><br />
        <li>
          How did you illustrate specific nutrient values for different food
          intake?
        </li>
        After analyzing the data from USDA, we were able to find the nutritional
        facts for each food item. After comparing multiple food items, we
        aggregated the common nutritional fact values and update the values in
        our portal.<br /><br />
        <li>Who is the intended audience for this website?</li>
        This website can apply to anyone, but is most beneficial to
        pediatricians and parents.<br /><br />
        <li>
          Do you have a visual guide of what portions of food groups to consume
          daily?
        </li>
        Here is a sample of what a daily intake on a plate could look like
        below. However, it's best to consult with your doctor before making any
        changes to your diet. Please keep in mind that any nutrition information
        listed on this site is for illustrative purposes only.<br />
      </ol>
      <img src="../static/ques.png" alt="" /><br />
      <p style="font-size: 12px;">Image Source: Health Canada, 2019</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
